<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeTask.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
		<add key="OpenAIApiKey" value="56e671a3357824fa1abea6df8e20e696.kreWntpK6LDGbAyR" />
		<add key="LlmProvider" value="zhipu" />
		<add key="LlmApiBaseUrl" value="https://open.bigmodel.cn/api/paas/v4/" />
		<!-- For OpenAI, empty means use library default. For other providers, this will be crucial. -->
		<add key="LlmModelName" value="glm-4" />
    </appSettings>
    <userSettings>
        <TimeTask.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>640</value>
            </setting>
        </TimeTask.Properties.Settings>
    </userSettings>
</configuration>